*{
  margin:0;
  padding:0;
  box-sizing:border-box;
   font-family:'Poppins', sans-serif;
    
}

body {
    background:#e6e6e6;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.CV {
    width: 1000px;
    background: white;
    display: grid;
    grid-template-columns:35% 65%;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.left {
    background: #eef2ef;
    padding: 30px;
}

.name{
    text-align:center;
}

.name h1{
    font-size: 26px;
    font-weight: 700;
}

.name span{
    font-size: 14px;
    letter-spacing:3px;
}

.avatar {
    width:180px;
    height:180px;
    border-radius:50%;
    overflow:hidden;
    margin:20px auto;
}

.avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.section{
    margin-top:25px;
}
.section-title{
    background:#102c4c;
    color:white;
    padding:8px;
    margin-bottom:10px;
    font-weight:600;
}

.text{
    font-size:13px;
    line-height:1.6;
}

.right{
    background:#dfe8d9;
    padding:35px;
}

.right-title{
    background:#102c4c;
    color:white;
    padding:10px;
    font-weight:600;
    margin-bottom:20px;
}

.job{
    margin-bottom:20px;
}

.job h3{
    font-size:16px;
}

.job span{
    font-size:13px;
    font-style:italic;
    color:#333;
}
ul{
    margin-top:8px;
    padding-left:20px;
}

li{
    font-size:13px;
    margin-bottom:5px;
}

.education{
    margin-top:35px;
}